*{
	margin: 0 !important;
}
.fondo1{
	background:linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.0)),url("../image/fondo7.jpg")no-repeat center;
  	-webkti-background-size:cover;
  	-o-background-size:cover;
  	-moz-background-size:cover;
		background-size:cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	width: 100%;
	height: 550px;
	border-bottom: solid Black 4px;
	padding-right: 2%;
	padding-left: 2%;
}
.fondo2{
	background:linear-gradient(90deg,rgba(0,0,0,.3),rgba(0,0,0,.3)),url("../image/fondo8.jpg")no-repeat center;
    -webkti-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
	background-size:cover;
	width: 100%;
	height: 655px;
  border-top: solid Black 4px;
	border-bottom: solid Black 4px;
	padding-right: 5%;
	padding-left: 5%;
  padding-top: 2%;
}
.fondo3{
  background:linear-gradient(90deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),url("../image/Fondo3.jpeg")no-repeat center;
		-webkti-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
	background-size:cover;
	width: 100%;
	height: 685px;
  border-top: solid gray 4px;
	border-bottom: solid gray 4px;
	padding-right: 5%;
	padding-left: 5%;
  padding-top: 6%;
}
.fondo4{
	background:linear-gradient(90deg,rgba(41,3,0,1),rgba(255,23,23,1));
		-webkti-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
	background-size:cover;
	width: 100%;
	height: 685px;
  border-top: solid Black 4px;
	border-bottom: solid Black 4px;
	padding-right: 5%;
	padding-left: 5%;
}
.bordemenu{
  border-bottom: solid white 2px;
}
.borde1{
  border-right: solid white 2px;
}
.borde2{
  border-left: solid white 2px;
}
.borde3{
  border-left: solid white 2px;
  border-right: solid white 2px;
}
.centrado{
  text-align: center;
}
.color{
	color: #FFFFFF;
}
.letra1{
  font-size: 28px;
  font-family: sans-serif;
  color: #d2d2d2;
}
.letra2{
  font-size: 48px;
  font-family: sans-serif;
  color: #FFFFFF;
}
.letra3{
  font-size: 18px;
  font-family: sans-serif;
  color: #FFFFFF;
}
.fondocolor{
	background:linear-gradient(90deg,rgba(0,0,0,.4),rgba(0,0,0,.4));
}
.fondocolor1{
  background:linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,.9));
}
.lugar1{
  padding-top: 200px;
}
.lugar2{
  padding: 20px;
}
.lugar3{
  padding-bottom: 30px;
}

.edicion1{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 28px;
  font-family: sans-serif;
}
.edicion2{
	color: #d2d2d2;
	font-size: 42px;
	font-family: sans-serif;
}
